<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <p class="panel-block">Trends 1</P>
        <p class="panel-block">Trends 2</P>
        <p class="panel-block">Trends 3</P>
        <p class="panel-block">Trends 4</P>
        <p class="panel-block">Trends 5</P>
        <p class="panel-block">Trends 6</P>
    </nav>
</div>