<div class="column">
    <nav class="panel">
    <p class="panel-heading">Who to follow</P>
    
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                <strong>John</strong>
                <small>@john</small>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                <strong>Jin</strong>
                <small>@jin</small>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                <strong>Jo</strong>
                <small>@jo</small>
                </div>
            </div>
        </article>
    </div>
    </nav>
</div>